<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - Pytaku - Manga to Dropbox for otaku on the go</title>

    <!-- Bootstrap from CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->

    <!-- Fontawesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <style class="text/css">
        body {
            padding-top: 70px;
        }

        .nav-text {
            color: #777;
            margin-right: 15px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pytaku</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="/"><i class="icon-home icon-large"></i> Home</a></li>
            <li><a href="/oauth"><i class="icon-dropbox icon-large"></i> Authenticate with Dropbox</a></li>
            <li><a href="https://github.com/nhanb/pytaku"><i class="icon-github icon-large"></i> Github</a></li>
          </ul>

          <form class="nav navbar-form navbar-right" action="{{ logout_link }}">
              <span class="nav-text">Logged in as <strong>{{ username }}</strong></span>
              <button type="submit" class="btn btn-default btn-danger"><i class="icon-ban-circle"></i> Logout</button>
          </form>



        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container">

        <!-- Have to put jquery here so "content" block has access to all this -->
        <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>

        {% block content %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
