{% extends "base.html" %}
{% block title %}Grab 'em!{% endblock %}

{% block content %}

<style class="text/css">
    .jumbotron {
        text-align: center;
        padding-bottom: 34px;
    }

    textarea {
        margin-bottom: 15px;
    }
</style>

<div class="jumbotron">
    <form action="/" method="post">
        <textarea id="content" name="content" class="form-control" rows="5"
            placeholder="Paste kissmanga chapter links here (one link per line)"
            ></textarea>
    <div><button name="submit" class="btn btn-success btn-lg" type="submit">Get 'em</button></div>
    </form>
</div>

{% endblock %}
