{% extends "base.html" %}
{% block title %}Grab 'em!{% endblock %}

{% block content %}

<style class="text/css">
    .jumbotron {
        text-align: center;
        padding-bottom: 34px;
    }

    textarea {
        margin-bottom: 15px;
    }
</style>

<div class="jumbotron">
    <form action="/" method="post">
    <p>Paste kissmanga chapter links here (one link per line)</p>
        <textarea id="content" name="content" class="form-control" rows="7"
            placeholder="Ctrl + Enter to submit"
            ></textarea>
    <div><button name="submit" class="btn btn-success btn-lg" type="submit"><i
                class="icon-download-alt"></i> Get 'em</button></div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        // Ctrl+Enter to submit links
        $('body').keydown(function (e) {
            // Also don't submit if empty or whitespace-only input
            if (e.ctrlKey && e.keyCode == 13 && $.trim($("#content").val())) {
                $('button[name="submit"]').trigger('click');
            }
        });

    });
</script>

{% endblock %}
